<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Konto</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navigation-->
<div th:insert="navbar"></div>

<!--Nagłówek - konto-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                Moje projekty
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>

<!--Panel użytkownika-->
<div class="container-fluid table-account">
    <table class="table table-hover" th:each="projekt, i : ${projekty}">
        <tbody class="thead-dark text-center">
        <tr >
            <th colspan="2">
                <h3  th:text="${'Informacje o projekcie #' + {i.index+1}}">

                </h3>
            </th>
        </tr>
        <tr>
            <th>Nazwa</th>
            <td th:text="${projekt.getName()}">-</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td th:text="${projekt.getTemat().getDescription()}"></td>
        </tr>
        <tr>
            <th>Termin końcowy</th>
            <td th:text="${projekt.getDeadline()}"></td>
        </tr>
        <tr>
            <th>Data oddania</th>
            <td th:if="${projekt.getSubmissionDate()==null}">
                Nie oddano
            </td>
            <td th:text="${projekt.getSubmissionDate()}"></td>
        </tr>
        <tr>
            <th style="vertical-align: middle;">Plik</th>
            <td th:if="${projekt.getFileUrl()==null}">
                <form th:action="${'/uploadFile/'+projekt.getId()}" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile" aria-describedby="inputGroupFileAddon" aria-label="Upload" name="file"/>
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon">Prześlij</button>
                    </div>
                </form>
            </td>
            <td th:if="${projekt.getFileUrl()!=null}">
                <a th:href="${projekt.getFileUrl()}">
                    <button class="btn btn-sm btn-primary">Pobierz plik</button>
                </a>
            </td>
        </tr>
        <tr>
            <th>Ocena</th>
            <td th:if="${projekt.getMark()==null}">
                Nie oceniono
            </td>
            <td th:text="${projekt.getMark()}"></td>
        </tr>
        </tbody>
    </table>
</div>



<!--Footer-->
<div th:insert="footer"></div>

</body>
</html>