<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Panel administratora</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navigation-->
<div th:insert="navbar"></div>

<!--Nagłówek - admin-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                Panel administratora
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>

<!--Panel administratora-->
<div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark text-center">
        <tr>
            <th class="table-center" scope="col">Nazwa</th>
            <th class="table-center" scope="col">Nr albumu studenta</th>
            <th class="table-center" scope="col">Plik</th>
            <th class="table-center" scope="col">Ocena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="projekt : ${projekty}">
            <th th:rowspan="${projekt.getStudenci().size()}" scope="row" th:text="${projekt.getName()}"></th> <!-- Nazwa-->
            <td th:each="student : ${projekt.getStudenci()}" th:text="${student.getNrAlbum()}"></td><!-- Studenci-->
            <td class="table-center" th:if="${projekt.getFileUrl()==null}"><!-- Plik-->
                <p>Brak danych</p>
            </td>
            <td class="table-center" th:if="${projekt.getFileUrl()!=null}">
                <a th:href="${projekt.getFileUrl()}">
                    <button class="btn btn-md btn-primary">Pobierz plik</button>
                </a>
            </td>
            <td class="table-center" th:if="${projekt.getFileUrl()!=null && projekt.getMark()==null}"><!-- Ocena-->
                <form th:action="${'/projkety/grade/'+projekt.getId()}">
                    <div class="input-group mb-3">
                        <select class="form-select" name="mark" id="input-mark">
                            <option value="2">2.0</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5" selected>5.0</option>
                        </select>
                        <button class="btn btn-md btn-primary input-group-text" for="input-mark">Oceń</button>
                    </div>
                </form>
            </td>
            <td class="table-center" th:if="${projekt.getFileUrl()==null && projekt.getMark()==null}"><!-- Ocena-->
                <form th:action="${'/projkety/grade/'+projekt.getId()}">
                    <div class="input-group mb-3">
                        <select class="form-select" name="mark" id="input-mark" disabled>
                            <option value="2">2.0</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5" selected>5.0</option>
                        </select>
                        <button class="btn btn-md btn-primary input-group-text disabled" for="input-mark">Oceń</button>
                    </div>
                </form>
            </td>
            <td class="table-center" style="vertical-align: middle;" th:if="${projekt.getMark()!=null}">
                <div class="input-group mb-3">
                    <p class="mb-0" th:text="${projekt.getMark()}"></p>
                    <button class="btn btn-md btn-primary input-group-text">Oceń ponownie</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<hr class="my-4">


<!--<div class="input-group mb-3">-->
<!--    <label class="input-group-text" for="inputGroupSelect01">Options</label>-->
<!--    <select class="form-select" id="input-mark">-->
<!--        <option value="2">Choose...</option>-->
<!--        <option value="2.5">One</option>-->
<!--        <option value="3">Two</option>-->
<!--        <option value="3.5">Three</option>-->
<!--        <option value="4">Three</option>-->
<!--        <option value="4.5">One</option>-->
<!--        <option value="5" selected>Two</option>-->
<!--    </select>-->
<!--    <form th:action="${'/projkety/grade/'+projekt.getId()}">-->
<!--        <button class="btn btn-md btn-primary input-group-text" for="input-mark">Oceń</button>-->
<!--    </form>-->
<!--</div>-->
<!--Footer-->
<div th:insert="footer"></div>

</body>
</html>