<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Footer-->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4 footer-center">
                <hr class="light">
                <h5>Uczelnia</h5>
                <hr class="light">
                <p>Politechnika Rzeszowska im. Ignacego Łukasiewicza</p>
                <p>al. Powstańców Warszawy 12, Rzeszów</p>
                <p>tel.: +48 17 865 11 00</p>
                <p>fax: +48 17 854 12 60</p>
                <p>e-mail: kancelaria@prz.edu.pl</p>
            </div>
            <div class="col-md-4 footer-center">
                <hr class="light">
                <h5>Przedmiot</h5>
                <hr class="light">
                <p>Systemy teleinformatyczne</p>
                <p>Zakład Systemów Złożonych</p>
                <p>Wydział Elektrotechniki i Informatyki</p>
                <p style="color:#373737">Hiszpańska inkwizycja</p>
                <p>Prowadzący: Franciszek Grabowski</p>
            </div>
            <div class="col-md-4 footer-center">
                <hr class="light">
                <h5>Autorzy</h5>
                <hr class="light">
                <p>Łucja Pałkus</p>
                <p>160787@stud.prz.edu.pl</p>
                <p style="color:#373737">Nikt się jej nie spodziewał</p>
                <p>Adam Szałański</p>
                <p>164018@stud.prz.edu.pl</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h6>&copy; Pałkus&SzałańskiCompany</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>