<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>PROjekt JavaPRO</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#">
            <img src="/img/logo.png">
        </a>
        <!--przycisk z ikoną menu-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" cata-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Zaloguj</a>
                </li>
                    <!--albo-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Nagłówek - teamty-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="disably-4">Tematy projektów</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                Poniżej zanajdują się tematy projektów wraz z ich opisami, które można zrealizować w ramach projektu z przedmiotu Technologie WEB i Java.
            </p>
        </div>
    </div>
</div>
<hr class="my-4">

<!--Tabela tematów-->
<div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark text-center">
        <tr>
            <th scope="col-1">#</th>
            <th scope="col-4">Temat projektu</th>
            <th scope="col-4">Opis</th>
            <th scope="col-3">Czy zarezerwowany</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lucynka</td>
            <td>Pałkuska</td>
            <td>idk_men</td>
        </tr>
        </tbody>
    </table>
</div>
<hr class="my-4">

<!--Background image-->
<figure>
    <div class="fixed-wrap">
        <div id="fixed" style="background-image: url('../img/fixed-background-4.jpg');">
            <!--            <img src="/img/fixed-background.jpg">-->
        </div>
    </div>
</figure>
<hr class="my-4">

<!--Nagłówek - autorzy-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                O nas
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>

<!--Autorzy-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6">
            <img src="/img/EwaC.jpg" class="img-fluid">
            <h3>Łucja Pałkus</h3>
            <p>Studentka, szaleje za Dr. PROkopem</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="/img/Adam.jpg" class="img-fluid">
            <h3>Adam Szałański</h3>
            <p>Student. Też szaleje za Dr. PROkopem</p>
        </div>
    </div>
    <hr class="my-4">
</div>

<!--Background image-->
<figure>
    <div class="fixed-wrap">
        <div id="fixed" style="background-image: url('../img/fixed-background-2.jpg');">
            <!--            <img src="/img/fixed-background.jpg">-->
        </div>
    </div>
</figure>
<hr class="my-4">

<!--Nagłówek - prowadzący-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                Prowadzący
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>
<!--Karta Prowadzącego-->
<div class="container-fluid padding">
    <div class="row padding karta">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top center" src="/img/prowadzacy.jpg" alt="Fot. Marian Misiakiewicz">
                <div class="card-body">
                    <h4 class="card-title">
                        dr hab. inż. prof. PRz Jan Prokop
                    </h4>
                    <p class="card-text">
                        Nauczyciel akademicki zatrudniony jako pracownik badawczo-dydaktyczny na stanowisku profesora uczelni na Wydziale Elektrotechniki i Informatyki Politechniki Rzeszowskiej.
                    </p>
                    <a href="http://jprokop.prz.edu.pl/#/" class="btn btn-secondary">Wyświetl stronę</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">

<!--Background image-->
<figure>
    <div class="fixed-wrap">
        <div id="fixed" style="background-image: url('../img/fixed-background-3.jpg');">
            <!--            <img src="/img/fixed-background.jpg">-->
        </div>
    </div>
</figure>
<hr class="my-4">
<!--Jumbotron/Dymek-->
<!--<div class="container-fluid">-->
<!--    <div class="row jumbotron">-->
<!--        <div class="jumbotron-napis col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">-->
<!--            <p class="lead">-->
<!--                Tutaj będzie napis o czym jest projekt i że stworzony na potrzeby PROkopa.-->
<!--                Tutaj będzie napis o czym jest projekt i że stworzony na potrzeby PROkopa.-->
<!--                Tutaj będzie napis o czym jest projekt i że stworzony na potrzeby PROkopa.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="jumbotron-przycisk col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">-->
<!--            <a href="#">-->
<!--                <button type="button" class="btn btn-outline-secondary btn-lg">-->
<!--                    Stona domowa PROkopa-->
<!--                </button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--Footer-->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4 logo">
                <img src="/img/logo.png">
                <hr>
                <p>Politechnika Rzeszowska im. Ignacego Łukasiewicza</p>
                <p>al. Powstańców Warszawy 12, Rzeszów</p>
                <p>tel.: +48 17 865 11 00</p>
                <p>fax: +48 17 854 12 60</p>
                <p>e-mail: kancelaria@prz.edu.pl</p>
            </div>
            <div class="col-md-4">
                <hr>
                <h5>Przedmiot</h5>
                <hr>
                <p>Technologie WEB i Java</p>
                <p>Zakład Elektrodynamiki i Systemów Elektromaszynowych</p>
                <p>Wydział Elektrotechniki i Informatyki</p>
                <p style="color:white">Hiszpańska inkwizycja</p>
                <p>Prowadzący: Jan Prokop</p>
            </div>
            <div class="col-md-4">
                <hr>
                <h5>Autorzy</h5>
                <hr>
                <p>Łucja Pałkus</p>
                <p>160787@stud.prz.edu.pl</p>
                <p style="color:white">Żodyn si ni spodziwoł</p>
                <p>Adam Szałański</p>
                <p>164018@stud.prz.edu.pl</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>