<!DOCTYPE html>
<html lang="pl"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Logowanie</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navigation-->
<div th:insert="navbar"></div>

<!--Nagłówek - zaloguj-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                Zaloguj się
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>
<!--Panel logowania-->
<div class="text-center">
    <form th:action="@{/login}" method="post">
        <label for="nrAlbum" class="sr-only"></label>
        <input type="text" id="nrAlbum" class="form-control" name="username" placeholder="Numer albumu" required autofocus>
        <label for="password" class="sr-only"></label>
        <input type="password" id="password" placeholder="Hasło" name="password" class="form-control mt-2" required>
        <div class="login-btn mt-3 mb-5">
            <input type="submit" value="Zaloguj" class="btn btn-lg btn-primary col-xs-6 col-sm-4"/>
        </div>
    </form>
    <p th:if="${loginError}" class="error">Logowanie nie powiodło się</p>
</div>



<!--Footer-->
<div th:insert="footer"></div>

</body>
</html>