<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Logowanie</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navigation-->
<div th:insert="navbar"></div>

<!--Nagłówek - zaloguj-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                Zaloguj się
            </h1>
        </div>
        <hr class="my-4">
    </div>
</div>

<!--Panel logowania-->
<div class="text-center">
    <form th:action="@{/login}" method="post">
        <label for="nrAlbum" class="sr-only"></label>
        <input type="text" id="nrAlbum" class="form-control" name="username" placeholder="Numer albumu" required autofocus>
        <label for="password" class="sr-only"></label>
        <input type="password" id="password" placeholder="Hasło" name="password" class="form-control mt-2" required>
        <div class="login-btn mt-3 mb-5">
            <button class="btn btn-lg btn-secondary col-xs-6 col-sm-4" href="/register">Rejestracja</button>
            <button class="btn btn-lg btn-primary col-xs-6 col-sm-4">Zaloguj</button>
        </div>
    </form>
</div>



<!--Footer-->
<div th:insert="footer"></div>

</body>
</html>