.logo img{
    height: 56px;
}
.navbar-collapse {
    justify-content: flex-end;
}
.jumbotron-przycisk{
    padding: 20px;
}

.jumbotron{
    align-content: center;
    align-items: center;
    justify-content:center;
}

figure {
    margin: 0;
}
#fixed {
    /*background-image: url('static/img/fixed-background.jpg');*/
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}